# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [0]:
rd = {'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
      'hp' : [45,39,44,45],
      'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
      'pokedex' : ['yes', 'no', 'yes', 'no'],
      'type' : ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(data = rd, columns=['evolution', 'hp', 'name', 'pokedex', 'type'])
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pd.DataFrame(data = rd, columns=['name', 'type', 'hp','evolution', 'pokedex'])
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon['place'] = ['Brazil', 'Greece', 'UK', 'USA']
pokemon

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes  Brazil
1  Charmander   fire  39  Charmeleon      no  Greece
2    Squirtle  water  44   Wartortle     yes      UK
3    Caterpie    bug  45     Metapod      no     USA

### Step 6. Present the type of each column

In [6]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
name         4 non-null object
type         4 non-null object
hp           4 non-null int64
evolution    4 non-null object
pokedex      4 non-null object
place        4 non-null object
dtypes: int64(1), object(5)
memory usage: 264.0+ bytes

In [7]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object