# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [15]:
# Solution 1

chipo.shape[0]                     # for printing rows, will use indexing

4622

In [12]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [16]:
chipo.shape[1]                         # for printing coloumns

5

### Step 7. Print the name of all the columns.

In [17]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [18]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [27]:
most_ordered = chipo.groupby(['item_name'])
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values(['quantity'], ascending = False)
most_ordered.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
most_ordered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [29]:
most_ordered = chipo.groupby(['choice_description'])
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values(['quantity'], ascending = False)
most_ordered.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

### Step 12. How many items were orderd in total?

In [30]:
total_items = chipo['quantity'].sum()
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [32]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
change_item_price = lambda x : float (x [1:-1])
chipo['item_price'] = chipo['item_price'].apply(change_item_price)

#### Step 13.c. Check the item price type

In [35]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [42]:
orders = chipo['order_id'].nunique()
orders

1834

### Step 16. What is the average revenue amount per order?

In [43]:
# Solution 1
avg_revenue = revenue/ orders
avg_revenue

21.39423118865867

In [45]:
# Solution 2
revenue = (chipo['quantity'] * chipo['item_price']).sum()
orders = chipo['order_id'].nunique()
avg_revenue = revenue/ orders

print ("The Average Revenue amount per order is : {}". format(avg_revenue))

The Average Revenue amount per order is : 21.3942311887

### Step 17. How many different items are sold?

In [44]:
chipo['item_name'].nunique()

50